In [2]:
import librosa as lb
import numpy as np
import pandas as pd
import librosa.display
import soundfile as sf
import matplotlib.pyplot as plt
import os

In [3]:
import torch
import torch.nn as nn

In [4]:
csvPath = r"C:\Users\Anurag\Desktop\ASR Transformer\UserLibri\lm_data\metadata.tsv" 
metadata = pd.read_csv(csvPath)
metadata.head()

  Book ID\tNum Text Examples\tAverage Words Per Example
0                                10136\t38498\t13.34
1                                   1041\t970\t17.93
2                                 10540\t3283\t21.94
3                                   108\t5872\t18.93
4                                 11667\t3312\t27.95

In [5]:
metadata.tail()

   Book ID\tNum Text Examples\tAverage Words Per Example
94                                  9464\t1695\t23.26
95                                    94\t1722\t16.02
96                                   955\t3051\t18.50
97                                   969\t7799\t21.53
98                                  9983\t8898\t19.01

In [6]:
import os
import numpy as np
import tensorflow as tf
from transformers import BertTokenizer

In [7]:
folder_path = r"C:\Users\Anurag\Desktop\ASR Transformer\UserLibri\lm_data"
files = os.listdir(folder_path)
files

['10136_lm_train.txt',
 '1041_lm_train.txt',
 '10540_lm_train.txt',
 '108_lm_train.txt',
 '11667_lm_train.txt',
 '1184_lm_train.txt',
 '11_lm_train.txt',
 '12176_lm_train.txt',
 '12434_lm_train.txt',
 '12544_lm_train.txt',
 '13110_lm_train.txt',
 '13158_lm_train.txt',
 '13441_lm_train.txt',
 '1353_lm_train.txt',
 '135_lm_train.txt',
 '1399_lm_train.txt',
 '14420_lm_train.txt',
 '14566_lm_train.txt',
 '1477_lm_train.txt',
 '14958_lm_train.txt',
 '15263_lm_train.txt',
 '15265_lm_train.txt',
 '1549_lm_train.txt',
 '1572_lm_train.txt',
 '1597_lm_train.txt',
 '1608_lm_train.txt',
 '16127_lm_train.txt',
 '16653_lm_train.txt',
 '18096_lm_train.txt',
 '1827_lm_train.txt',
 '19019_lm_train.txt',
 '19215_lm_train.txt',
 '19717_lm_train.txt',
 '1989_lm_train.txt',
 '1998_lm_train.txt',
 '20019_lm_train.txt',
 '2002_lm_train.txt',
 '20212_lm_train.txt',
 '209_lm_train.txt',
 '21297_lm_train.txt',
 '22002_lm_train.txt',
 '2300_lm_train.txt',
 '24585_lm_train.txt',
 '24811_lm_train.txt',
 '2488_lm_train.txt',
 '24_lm_train.txt',
 '2529_lm_train.txt',
 '26177_lm_train.txt',
 '26379_lm_train.txt',
 '2681_lm_train.txt',
 '27067_lm_train.txt',
 '27090_lm_train.txt',
 '2770_lm_train.txt',
 '2787_lm_train.txt',
 '28700_lm_train.txt',
 '28725_lm_train.txt',
 '28952_lm_train.txt',
 '2981_lm_train.txt',
 '3076_lm_train.txt',
 '30905_lm_train.txt',
 '3178_lm_train.txt',
 '33800_lm_train.txt',
 '33_lm_train.txt',
 '3436_lm_train.txt',
 '3440_lm_train.txt',
 '3441_lm_train.txt',
 '36508_lm_train.txt',
 '3748_lm_train.txt',
 '38675_lm_train.txt',
 '38804_lm_train.txt',
 '39159_lm_train.txt',
 '4028_lm_train.txt',
 '40359_lm_train.txt',
 '41326_lm_train.txt',
 '4217_lm_train.txt',
 '4276_lm_train.txt',
 '434_lm_train.txt',
 '4602_lm_train.txt',
 '507_lm_train.txt',
 '540_lm_train.txt',
 '5516_lm_train.txt',
 '5630_lm_train.txt',
 '574_lm_train.txt',
 '5921_lm_train.txt',
 '6328_lm_train.txt',
 '6812_lm_train.txt',
 '732_lm_train.txt',
 '76_lm_train.txt',
 '7891_lm_train.txt',
 '8166_lm_train.txt',
 '820_lm_train.txt',
 '833_lm_train.txt',
 '9189_lm_train.txt',
 '940_lm_train.txt',
 '9464_lm_train.txt',
 '94_lm_train.txt',
 '955_lm_train.txt',
 '969_lm_train.txt',
 '9983_lm_train.txt',
 'metadata.tsv']

In [8]:
files.remove('metadata.tsv')

In [9]:
texts = []
for file in files:
    
    with open(os.path.join(folder_path, file), "r", encoding="utf-8") as f:
        text = f.read()
        texts.append(text)

In [10]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

tokenized_texts = [tokenizer.encode(text) for text in texts]

Token indices sequence length is longer than the specified maximum sequence length for this model (632729 > 512). Running this sequence through the model will result in indexing errors

In [11]:
max_length = 512 # set a maximum length for the input sequence
padded_sequences = tf.keras.preprocessing.sequence.pad_sequences(tokenized_texts, maxlen=max_length, dtype='long', padding='post', truncating='post')

In [12]:
text_vectors = np.array(padded_sequences)

In [13]:
t_texts = torch.from_numpy(text_vectors)

In [14]:
%store t_texts

Stored 't_texts' (Tensor)

In [15]:
t_texts

tensor([[  101, 19134,  1005,  ...,  2068,  2635,  2729],
        [  101,  2065, 15177,  ...,  1998, 10943,  5562],
        [  101,  2059,  2027,  ...,  1996, 17517,  8260],
        ...,
        [  101,  4604,  2008,  ...,  3426,  7093,  1005],
        [  101,  2021,  2292,  ...,  1011,  1005,  1055],
        [  101,  1045,  2123,  ...,  2402,  2158,  2007]], dtype=torch.int32)